.mainClass {
  border: 1px solid rgb(195, 190, 190);
  width: 30%;
  padding-left: 5rem;
  padding-top: 3.5rem;
  margin: 5rem auto;
  box-shadow: rgba(0.1, 0.1, 0.1, 0.24) 0px 3px 8px;
}

.submitButton {
  margin-right: 1rem;
}

.tableStyle {
  /* border: 1px solid red; */
  margin: 2rem;
}
