.mainClass {
  border: 1px solid rgb(195, 190, 190);
  min-width: 20rem;
  width: 30%;
  text-align: left;
  padding-left: 6%;
  padding-top: 2%;
  margin: 4rem auto;
  box-shadow: rgba(0.1, 0.1, 0.1, 0.24) 0px 3px 8px;
}

.submitButton {
  margin-right: 1rem;
}
